*{
  margin: 0;
}
.App{
  background-color: #fafafa;
}
.app_header{
  position :sticky;
  top:0;
  z-index: 1;
  object-fit: contain;
  padding: 20px;
  border-bottom:1px solid lightgray ;
  background-color: white;
  display: flex;
  justify-content: space-between;

}
.app_post{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app_postright{
  margin-left:20px ;
}
.app-headerImage{
  object-fit: contain;
}
.app_signup{
  display: flex;
  flex-direction: column;
}